.title{
  color: white;
}
h2 {
  font-family: impact;
  font-weight: 400;
  font-size: 20px;
  color:#dc0000;
}
h1{
  font-family: impact;
  font-size: 40px;
}
h3{
  font-family: impact;
  font-size: 28px;
}
ul{
  font-family: impact;
  font-size: 16px;
}
.section {
  width: 100%;
}
.section .container {
  padding: 30px 0 50px 0;
}

.section.bg {
  background: #f7f7f7; /* light grey background color */ 
}
.section .slider,
.section .footer {
  background: #2e1014; /*top and botton dark grey sections */
}
body{
  background-color: #ffffff;
}
a{
  text-decoration: none;
  color: #000000;
}
section{
  position:relative;
  width:640px;
  margin:50px auto;
}
nav{
  width:100%;
}
nav ul li{
  display:inline-block;
  list-style:none;
  width:150px;
  text-align:center;
  font-family:Helvetica, sans-serif;
  border: 1px dashed rgba(255,255,255, 0);
  color:#000000	;
  padding:10px 0 10px 0;
  margin:-1px -5px -1px -1px;
  cursor:pointer;
  transition:all .2s;
  -webkit-transition:all .2s;
}
nav ul li:hover{
  /*border:1px dashed #fff;*/
  background:#ffe5ea;
}
nav ul{
  border: 1px solid #000000;
  position:absolute;
  width:100%;
  padding:0;
  z-index:100;
}
nav div{
  position:absolute;
  left:0;
  top:16px;
  background: #ffe5ea;
  width:162px;
  height:40px;
  z-index:99;
}
.active{
  color:#000000;
}
